{% extends "base.html" %}
{% block title %}
<title> Add A New Cafe</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css')}}">
{% endblock %}


{% block content %}
<div class="container">
  <div class="row add-row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>
    <form method="POST" action="{{ url_for("add") }}" enctype="multipart/form-data" novalidate>
        {{ cafe_form.csrf_token }}

        {{ cafe_form.name(placeholder=cafe_form.name.label.text) }}
        {% for error in cafe_form.name.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.location(placeholder=cafe_form.location.label.text) }}
        {% for error in cafe_form.location.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.open_time(placeholder=cafe_form.open_time.label.text) }}
        {% for error in cafe_form.open_time.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.close_time(placeholder=cafe_form.close_time.label.text) }}
        {% for error in cafe_form.close_time.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.coffee_quality }}
        {% for error in cafe_form.coffee_quality.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.wifi_speed }}
        {% for error in cafe_form.wifi_speed.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.power_socket }}
        {% for error in cafe_form.power_socket.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.thumbnail }}
        {% for error in cafe_form.thumbnail.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.submit(value="Submit cafe.", class="btn btn-primary btn-block btn-large") }}
        {% for error in cafe_form.submit.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </form>
    </div>
  </div>
</div>

{% endblock %}
