{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}


{% block title %}All Cafes{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
        <thead>
                <th scope="col">Cafe Name</th>
                <th scope="col">Location</th>
                <th scope="col">Open</th>
                <th scope="col">Close</th>
                <th scope="col">Coffee</th>
                <th scope="col">Wifi</th>
                <th scope="col">Power</th>
        </thead>
        <tbody>
        {% for cafe in cafes %}
                <tr>
                    <td>{{ cafe.name }}</td>
                    <td><a href="{{ cafe.location }}">Map location</a></td>
                    <td>{{ cafe.open_time.strftime("%H:%M") }}</td>
                    <td>{{ cafe.close_time.strftime("%H:%M") }}</td>
                    <td>{{ cafe.coffee_quality }}</td>
                    <td>{{ cafe.wifi_speed }}</td>
                    <td>{{ cafe.power_socket }}</td>

                </tr>
        {% endfor %}
        </tbody>
  	  </table>
    <p style="display: flex; justify-content: space-between;" >
            <a href="{{ url_for('index') }}">Return to index page</a>
            <a style="text-align: right;" href="{{ url_for('add') }}">Add new cafe</a>
    </p>

    </div>
  </div>
</div>

{% endblock %}