{% extends "base.html" %}



{% block title %}
<title>All Cafes</title>
{% endblock %}


{% block content %}
{{ super() }}

<div class="container pt-5">

    {% for cafe_row in cafes %}
    <div class="row">
        {% for cafe in cafe_row %}
          <div class="col-sm-4">
            <div class="card bg-dark">
              <img class="card-img-top img-fluid" src="data:image/png;base64,{{cafe.thumbnail.decode()}}">
              <div class="card-body">
                <h5 class="card-title">{{ cafe.name.title() }}</h5>
                <p class="card-text">
                    <dl>
                        <dt>Location</dt>
                        <dd>{{ cafe.location.title() }}</dd>

                        <dt>Opening time</dt>
                        <dd>{{ cafe.open_time.strftime("%H:%M") }}</dd>

                        <dt>Closing time</dt>
                        <dd>{{ cafe.close_time.strftime("%H:%M") }}</dd>

                        <dt>Coffee Quality</dt>
                        <dd>{{ "☕"*cafe.coffee_quality }}</dd>

                        <dt>Wifi speed</dt>
                        {% if cafe.wifi_speed %}
                            <dd>{{ "💪"*cafe.wifi_speed }}</dd>
                        {% else %}
                            <dd>✘</dd>
                        {% endif %}

                        <dt>Power socket availability</dt>
                        <dd>{{ "🔌"*cafe.power_socket }}</dd>
                    </dl>
                </p>
              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <div class="pb-1">
                        <small class="text-muted">Last updated {{ cafe.last_updated }}</small>
                    </div>
                    {% if current_user == cafe.user %}
                        <div class="pb-1">
                            <a href="{{ url_for("edit", cafe_id=cafe.id) }}"><small class="text-muted footer-buttons">Update</small></a>
                            <small class="text-muted">|</small>
                            <a href="{{ url_for("delete", cafe_id=cafe.id) }}"><small class="text-muted footer-buttons">Delete</small></a>
                        </div>
                    {% else %}
                        <div class="pb-1">
                            <small class="text-muted">Added by
                            {% if cafe.user.name|length > 10 %}
                                {{ cafe.user.name[:7] }}..
                             {% else %}
                                {{ cafe.user.name }}
                             {% endif %}
                            </small>
                        </div>
                    {% endif %}

                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    <br/>
    {% endfor %}

</div>
{% endblock %}