{% extends "base.html" %}
{% block title %}
<title> Edit a cafe</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css')}}">
{% endblock %}


{% block content %}
<div class="container">
  <div class="row add-row">
    <div class="col-sm-12 col-md-8">

      <h1>Edit cafe {{ cafe.name.title()}}</h1>

    <form method="POST" action="{{ url_for("edit", cafe_id=cafe.id)}}" novalidate>
        {{ cafe_form.csrf_token }}

        {{ cafe_form.name }}
        {% for error in cafe_form.name.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.location }}
        {% for error in cafe_form.location.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.open_time }}
        {% for error in cafe_form.open_time.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.close_time }}
        {% for error in cafe_form.close_time.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.coffee_quality }}
        {% for error in cafe_form.coffee_quality.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.wifi_speed }}
        {% for error in cafe_form.wifi_speed.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.power_socket }}
        {% for error in cafe_form.power_socket.errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {{ cafe_form.submit(value="Edit cafe.", class="btn btn-primary btn-block btn-large") }}
        {% for error in cafe_form.submit.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </form>
    </div>
  </div>
</div>

{% endblock %}
