{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css')}}">
{% endblock %}

{% block content %}
    <div class="box">
        <h1>Log in</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                   <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="post" action="{{ url_for("login") }}" novalidate>
            {{ form.csrf_token }}
            {{ form.email(placeholder="Email") }}
            {% for error in form.email.errors %}
                <p>{{ error }}</p>
            {% endfor %}

            {{ form.password(placeholder="Password") }}
            {% for error in form.password.errors %}
                <p>{{ error }}</p>
            {% endfor %}
            {{ form.submit(value="Let me in.", class="btn btn-primary btn-block btn-large") }}
        </form>
    </div>

{% endblock %}